 
<div class="pad">
  <h2> Add New Product </h2>
<div class="row">
  <div class="col-md-3">
    <h3>
      <%= label_tag "category", "Product Category" %><br>
      <%= select_tag "category", options_for_select([
      "Diamond Products", "Safety Equipment", "Sand Paper", "Glues & Sealer",
      "Wet & Dry Pads", "Other Products"]), prompt: "Choose product category..." %><br></br>
  
      <%= label_tag "product_code", "Product Code" %><br>
      <%= text_field_tag "product_code", "", size: 20 %><br></br>

      <%= label_tag "name", "Name" %><br>
      <%= text_field_tag "name", "", size: 20 %><br></br>
      
       <%= label_tag "quantity", "Quantity" %><br>
      <%= text_field_tag "quantity", "", size: 20 %><br></br>
    </h3>
  </div>
  <div class="col-md-3">
    <h3>
      <%= label_tag "description", "Description" %><br>
      <%= text_area_tag "description", "", size: 20 %><br></br>

      <%= label_tag "price", "Price" %><br>
      <%= text_field_tag "price", "", size: 20 %><br></br>
  </div>
  <div class="col-md-3">
      <%= submit_tag "Add Product", size: 40 %>
    </h3>  
  </div> 
</div>
</div>

