

<div class="pad">
  <h2> Login </h2>
<div class="row">
  <div class="col-md-3">
    <h3>
      <%= label_tag "username", "" %><br>
      <%= text_field_tag "username", "", size: 20 %><br>

      <%= label_tag "password", "" %><br>
      <%= password_field_tag %> 
    </h3>
  </div>
    </div> 
      <%= submit_tag "Sign in", size: 40 %>
    </h3>  

</div>
</div>

