<center>
  <h2 style="color: black"><%= @header %></h2>
  
</center>

 <div class="pad_col">
<div class="row">
  <% Product.find(1) do |p| %>
  <div class="col-md-12">
    <table> 
      <th>
        <a class="a:hover" href='/images/<%= p.image %>.jpg/'>
          <img src="/images/<%= p.image %>.jpg/" width="350" height="350"></img>
        </a>
      </th>
          <td><b><h3 class="pad" style="color: rgb(129, 16, 1)"><%= p.name.upcase %></h3></b>
              <h4 class="pad" style="color: rgb(9, 9, 145)"><%= p.more_info %></h4>
              <h4 class="pad" style="color=black"><i>price  </i>$<%= p.price %></h4>
                <% CategorySale.where(category_id: p.category_id).each do |s| %>
                  <% if s.percent_off > 1 %>
                    <% price = (p.price.to_f) * ((100-s.percent_off)/100) %>
                      <% if (price.to_f - price.to_i) == 0 %>
                        <h4 class="pad" style="color: red"><%= "Sales Price! $ #{price.to_i}.00" %></h4>
                          <% elsif (price.to_f - price.to_i) == 0.1 or 0.2 or 0.3 or 0.4 or 0.5 or
                             0.6 or 0.7 or 0.8 or 0.9 %>
                              <h4 class="pad" style="color: red"><%= "Sales Price! $ #{price.round(1)}0" %></h4> 
                      <% else %>
                            <h4 class="pad" style="color: red"><%= "Sales Price! $ #{price.round(2)}" %></h4>
                      <% end %>
                    <% else %>
                  <% end %>
                        <h4 class="pad"><%= p.description %></h4>
              <% end %>        
    </table>             
  </div> 
  <% end %>
  </div>
</div>